body {
    background: url(./zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html body div.container h1#foo {
    /* background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px 3px black; */
    color: red;
}
[id="foo"]{
    color: cyan;
}

.container h1 {
    color: red;
}


 h1 {
    color: green !important;
}



h1, h2 , h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1em;
    font-family: sans-serif;
}



.borderImg {
    border-right: 2px dotted red;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li  {
    color: yellow;
}